:root {
  --color_orange: #f86306;
  --color_black: #000000;
}

@font-face {
  font-family: peace;
  src: url(../font/peace.ttf);
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a,
p,
b {
  font-size: 18px;
}

img {
  max-width: 100% !important;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 42px;
}

.color--black {
  color: var(--color_black);
}

.bg--black {
  background: var(--color_black);
}

.color--orange {
  color: var(--color_orange);
}

.bg--orange {
  background-color: var(--color_orange);
}

.bg--lighterOrange {
  background: #f8630615;
}

.bg--lightOrange {
  background: #e5dad3;
}

.bg--orangeGradient {
  background: #f86306;
  background: linear-gradient(156deg, #f86306 0%, white 100%);
}

.bg--orangeGradient--footer {
  background: #f86306;
  background: -webkit-gradient(linear, right top, left top, from(#f86306), to(white));
  background: linear-gradient(270deg, #f86306 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f86306",endColorstr="#ffffff",GradientType=1);
}

.card, table {
  -webkit-box-shadow: 0px 0px 20px 0px #eee;
          box-shadow: 0px 0px 20px 0px #eee;
}

a:hover svg {
  fill: var(--color_orange);
}

a:hover .cls-1 {
  stroke: var(--color_orange);
}

.bold {
  font-weight: 600;
}

header .navbar {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar-brand {
  margin: 0;
}

header .navbar-brand img {
  min-width: 100px;
}

header #navbarSupportedContent {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
  z-index: 2;
  background: white;
}

header .navbar-nav {
  text-align: center;
}

header .active .nav-link {
  border-bottom: 2px solid var(--color_orange);
  color: var(--color_orange) !important;
}

header .nav-link {
  margin: 0px 15px;
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  .logo-right {
    display: none;
  }
}

.hero {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "left right";
}

.hero .left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 105%;
  left: 0;
  z-index: 1;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .left h1 {
  font-family: peace;
}

.hero .right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right;
  height: 100%;
}

.hero .right .carousel-item {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "left" "right";
  }
  .hero .left {
    padding: 3rem !important;
    width: 100%;
  }
  .hero .left h1 {
    font-size: 56px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "left" "right";
  }
  .hero .left {
    padding: 3rem !important;
    width: 100%;
  }
  .hero .left h1 {
    font-size: 42px;
  }
}

.new-to {
  background: #f8630615;
  min-height: 500px;
}

.new-to .img-2 {
  top: 50px;
  left: 50px;
}

.new-to .new-to__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .new-to .img-2 {
    top: -20px;
    left: 100px;
  }
}

@media screen and (max-width: 768px) {
  .new-to .new-to__text {
    margin-top: 10px;
  }
}

.weekly-schedule .table-striped tbody tr:nth-of-type(2n + 1) {
  background: #f8630615;
}

.weekly-schedule .table th,
.weekly-schedule .table td {
  border: none;
}

.our-ministries .card-img-top {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.our-ministries__title__paragraph {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .our-ministries__title__paragraph {
    width: 75%;
    margin: 0 auto;
  }
}

.who-we-are {
  text-align: center;
}

.who-we-are p {
  margin-bottom: 30px;
  margin-top: 20px;
}

.events .card-img-top {
  min-height: 300px;
}

.prayer-request .btn {
  width: 400px;
}

@media screen and (max-width: 768px) {
  .prayer-request .card {
    margin-top: 10px;
  }
}

footer {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

footer h3 {
  font-size: 28px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0px;
}

footer ul li {
  margin-right: 20px;
}

footer ul li:nth-of-type(1) {
  margin-left: 5px;
}

@media screen and (max-width: 1024px) {
  footer ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
  footer ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
